flows.json
[{"id":"f2430aa9.4dca28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9db895f.ae5a48","type":"mqtt-broker","z":"","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"beaf7a67.0129b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"afec24ea.f70ac8","type":"ui_group","z":"","name":"Default","tab":"beaf7a67.0129b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b955f19b.67ced","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3619f033.53d86","type":"mqtt in","z":"f2430aa9.4dca28","name":"TTN MQTT","topic":"alezzi-b21-air/devices/tabs-temp/up","qos":"0","datatype":"utf8","broker":"c9db895f.ae5a48","x":420,"y":440,"wires":[["193d3802.74d858"]]},{"id":"193d3802.74d858","type":"function","z":"f2430aa9.4dca28","name":"","func":"var payload = JSON.parse(msg.payload);\nreturn payload;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":460,"wires":[["e4b6456e.4c3728","5c71254e.d0dd5c","154fc69c.07b889","dcf7cc84.91f14","cc4dd554.7afba8"]]},{"id":"e4b6456e.4c3728","type":"debug","z":"f2430aa9.4dca28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"5c71254e.d0dd5c","type":"ui_text","z":"f2430aa9.4dca28","group":"afec24ea.f70ac8","order":0,"width":0,"height":0,"name":"Time","label":"Time","format":"{{msg.metadata.time}}","layout":"row-spread","x":970,"y":540,"wires":[]},{"id":"154fc69c.07b889","type":"ui_gauge","z":"f2430aa9.4dca28","name":"Battery","group":"afec24ea.f70ac8","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"%","format":"{{msg.payload_fields.batt_percent}}","min":0,"max":"100","colors":["#b30000","#e6e600","#32e600"],"seg1":"30","seg2":"60","x":990,"y":620,"wires":[]},{"id":"dcf7cc84.91f14","type":"ui_gauge","z":"f2430aa9.4dca28","name":"Temperature","group":"afec24ea.f70ac8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degrees","format":"{{msg.payload_fields.temp_celsius}}","min":0,"max":"50","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"15","seg2":"40","x":1020,"y":700,"wires":[]},{"id":"cc4dd554.7afba8","type":"ui_gauge","z":"f2430aa9.4dca28","name":"Humidity","group":"afec24ea.f70ac8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload_fields.humidity_percent}}","min":0,"max":"100","colors":["#ff0000","#0fe600","#ff0000"],"seg1":"35","seg2":"65","x":1010,"y":760,"wires":[]}]